body {
    font-size:1rem;
    margin:0;
}

@media(prefers-color-scheme: dark) {
    body {
        background-color:#101010;
        color:#ffffff;
    }
}
.dark-mode body {
    background-color:#101010;
    color:#ffffff;
}
.dark-mode a:visited {
    color:#807bff;
}

header {
    padding:10px 50px 10px 5px;
    background-color:#502030;
    color:white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    /* Bounds theme-switcher to the header's bounding box */
    position:relative;
}
header h1 {
    font-weight:200;
    font-size:2.5rem;
    line-height:1;
}
header h2 {
    font-weight:normal;
    font-size:1.1rem;
    line-height:1;
}

#theme-switcher {
    position:absolute;
    top:10px;
    right:10px;
    bottom:10px;
    border:1px solid black;
    background-color:white;
    color:black;
    width:40px;
    border-radius:4px;
    font-size:30px;
}

main {
    line-height:1.5;
}

footer {
    max-width:min(800px, calc(100vw - 30px));
    border-radius:100px;
    margin:10px auto;
    padding:10px 5px;
    background-color:#502030;
    color:white;
    text-align:center;
}
footer a {
    color:#80c0ff;
    font-style:italic;
}

.image-holder {
    margin:30px auto;
    text-align:center;
    font-style:italic;
}
img {
    display:block;
    margin:0 auto;
    border-radius:5px;
    border:1px solid black;
    max-width:400px;
    width:90%;
}



.contain {
    max-width:800px;
    margin:0 auto;
    padding:0 10px;
}

.text-center {
    text-align:center;
}
.title {
    margin:30px auto;
    font-variant:small-caps;
}

#references {
    list-style-type: none;
    padding-left:0;
    margin:30px 0;
}
#references > li:before {
    content:"[" attr(data-index) "]";
    display:inline-block;
    width:0.25in;
}
#references > li {
    text-indent:-0.25in;
    padding-left:0.5in;
    margin:1rem 0;
}

.ref {
    vertical-align:super;
    font-size:smaller;
}
